<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::nav}, ~{::section})}">
    <head>
        <title>Student Management System :: Change Password</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav style="width: 100%; margin: auto;">
            <div th:replace="~{navbar.html :: studentNavBar}"></div>
        </nav>
        <section>
            <div class="errorMessage" th:if="${errorMessage ne null}" th:text="'&nbsp;'+ ${errorMessage}"></div>    
            <br/>
            <div th:replace="~{forms/generic-form.html :: generic-form}"></div> 
        </section>
    </body>
</html>
