<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::nav}, ~{::section})}">
    <head>
        <title>Student Management System :: Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav><div th:replace="~{navbar.html :: landingNavBar}"></div></nav>
        <section>
            <div class="errorMessage" th:if="${errorMessage ne null}" th:text="'&nbsp;'+ ${errorMessage}"></div>    
            <br/>
            <form method="post" th:action="${formAction}">
                <h3 class="formHeader">:: Reset Password &nbsp;</h3>
                <div class="divTable" style="width: 75%; border: 1px solid #000; margin: auto;">
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                        </div>
                        <div class="divTableRow">
                            <div class="formLabel">* Email:&nbsp;</div>
                            <div class="divTableCell">
                                <input type="text" name="email" th:attr="value=${email}, readonly=${emailReadonly}"/>
                            </div>
                            <div class="errorLabel" th:text="${errorEmail ne null} ? ${errorEmail}: ''"></div>
                        </div>
                        <div class="divTableRow" th:style="${otpDisplay eq null ? 'display:none;' : ''}"> 
                            <div class="formLabel">* OTP:&nbsp;</div>
                            <div class="divTableCell"><input type="text" name="otp"></div>
                            <div class="errorLabel" th:text="${errorOTP ne null} ? ${errorOTP}: ''"></div>
                        </div>
                        <div class="divTableRow" th:style="${newPasswordDisplay eq null ? 'display:none;' : ''}"> 
                            <div class="formLabel">* New Password:&nbsp;</div>
                            <div class="divTableCell"><input type="password" name="newPassword"></div>
                            <div class="errorLabel" th:text="${errorNewPassword ne null} ? ${errorNewPassword}: ''"></div>
                        </div>
                        <div class="divTableRow" th:style="${newPasswordDisplay eq null ? 'display:none;' : ''}"> 
                            <div class="formLabel">* Confirm Password:&nbsp;</div>
                            <div class="divTableCell"><input type="password" name="confirmPassword"></div>
                            <div class="errorLabel" th:text="${errorConfirmPassword ne null} ? ${errorConfirmPassword}: ''"></div>
                        </div>
                    </div>
                </div>
                <p>
                <div style="margin: auto; width: 75%; text-align: center;">
                    <button type="submit" class="formButton">Submit</button>
                </div>
                <p>
            </form>
        </section>
    </body>
</html>
